@{
    ViewBag.Title = "Index";
}

<h2>管理</h2>
<h3>@Html.ActionLink("书籍列表", "Index", "Store")</h3>
<h3>@Html.ActionLink("添加书籍", "AddBook", "Store")</h3>
<h3>@Html.ActionLink("订单", "Details", "Store")</h3>
