@{
    ViewBag.Title = "Search";
}

<h2>搜索</h2>


<table>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
    </tr>

    <tr>
        <td>@ViewBag.username</td>
        <td>@ViewBag.userage</td>
    </tr>
</table>